

.footer.center-left {
	  position: fixed;
	  bottom: 0em;
	  left: 0em;
	  padding-left: 1%;
	  font-size: 0.6em;
}

.footer.center {
	  position: fixed;
	  bottom: 0em;
	  left: 50%;
	  font-size: 0.6em;
}

.footer.center-right {
	  position: fixed;
	  bottom: 0em;
	  right: 0em;
	  border-top: 3px solid silver;
	  padding-top: 0.5%;
	  padding-inline: 90% 1%;
	  font-size: 0.6em;
}

